<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tesseract" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Tesseract</name>
    <js-module name="Tesseract" src="www/Tesseract.js">
        <clobbers target="cordova.plugins.Tesseract" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Tesseract">
                <param name="android-package" value="com.github.centny.cordova.tess.Tesseract" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/Tesseract.java" target-dir="src/com/github/centny/cordova/tess" />
        <framework src="src/android/tesseract" custom="true" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Tesseract">
                <param name="ios-package" value="Tesseract" />
            </feature>
        </config-file>
        <source-file src="src/objc/Tesseract.mm" />
        <framework src="libz.tbd" />
    </platform>
    <platform name="osx">
        <config-file parent="/*" target="config.xml">
            <feature name="Tesseract">
                <param name="ios-package" value="Tesseract" />
            </feature>
        </config-file>
        <source-file src="src/objc/Tesseract.mm" />
        <framework src="libz.tbd" />
    </platform>
    <platform name="windows">
        <framework src="src/windows/tessc/tessc.vcxproj" type="projectReference" target="win" />
        <framework src="src/windows/tessjs/tessjs.csproj" type="projectReference" target="win" />
    </platform>
</plugin>